<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Новый текст</title>
</head>
<body>
<h1 layout:fragment="header">Новый текст</h1>
<div layout:fragment="content" class="container">
    <form id="textForm" th:action="@{/texts/(form)}" th:object="${text}" action="#" method="post">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-error">
            <p th:each="error : ${#fields.errors('*')}" th:text="${error}">
                Validation error</p>
        </div>

        <input type="hidden" th:field="*{id}" th:class="${#fields.hasErrors('id')} ? 'field-error'"/>

        <label for="topic">Название</label>
        <input type="text" th:field="*{topic}" th:class="${#fields.hasErrors('topic')} ? 'field-error'"/>

        <label for="documentText">Текст</label>
        <textarea th:field="*{documentText}" th:class="${#fields.hasErrors('documentText')} ? 'field-error'"></textarea>

        <div class="form-actions">
            <input type="submit" value="Сохранить"/>
        </div>
    </form>
</div>
</body>
</html>
