<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="tableLayout">
<head>
    <title>Мои слова</title>
</head>
<body>
<h1 layout:fragment="header">Мои слова</h1>
<div layout:fragment="content" class="container">
    <table data-toggle="table" data-sort-name="card_minded" data-sort-order="asc"
           data-pagination="true" data-page-size="20" data-page-list="[20, 50]"
           class="table table-bordered table-striped">
        <thead>
        <tr>
            <th data-field="card_id" data-sortable="true">ID</th>
            <th data-field="card_word" data-sortable="true">Слово</th>
            <th data-field="card_translation" data-sortable="true">Перевод</th>
            <th data-field="card_minded" data-sortable="true">Изучено</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${cards.empty}">
            <td colspan="5">Пока ничего нет.
                <a href="#" th:href="@{'texts'}">Добавить слова</a></td>
        </tr>
        <tr th:each="card : ${cards}">
            <td th:text="${card.id}">1</td>
            <td th:text="${card.word}">слово</td>
            <td th:text="${card.translation}">перевод</td>
            <td th:text="${card.minded}">изучено?</td>
            <td><a href="#" th:if="${!card.minded}" th:href="@{'cards/remember/' + ${card.id}}">Запомнил</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
